
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/BasePage.cshtml";
}
<div class="login">
    <form class="form-login" role="form">
        <h2 class="form-login-header">爱沙画</h2>
        <input type="text" class="form-control" id="UserName" placeholder="输入用户名" required autofocus>
        <input type="password" class="form-control" id="Password" placeholder="输入密码">
        <div class="checkbox">
            <label>
                <input type="checkbox"> 记住我
            </label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>
    </form>
</div>
